## Grabbing data from the last uploaded CSV file on 6/10/2020

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,4.776500e+04,47548.000000,46766.000000,4.776500e+04,47548.000000,46766.000000,47484.000000,47484.000000,46701.000000,47484.000000,...,42561.000000,28397.000000,43130.000000,44655.000000,33756.000000,33327.000000,20227.000000,38942.000000,47490.000000,41609.00000
mean,1.103010e+05,1494.217128,1482.074443,4.304993e+03,43.846134,43.941704,2049.942796,25.831416,25.403657,60.403908,...,20855.687366,12.165560,251.701517,8.049948,10.801640,32.636833,52.396283,3.107852,74.009747,0.72443
std,1.140970e+06,13508.820786,13323.138463,3.995523e+04,368.447643,358.584849,4286.880870,78.064335,59.457196,146.733670,...,20410.174581,19.256213,117.495437,4.149711,10.477733,13.423695,31.611428,2.524989,7.376493,0.15288
min,0.000000e+00,-8261.000000,-552.000000,0.000000e+00,-1918.000000,-232.143000,0.000000,-2212.545000,-269.978000,0.000000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.35400
25%,6.600000e+01,0.000000,0.571000,1.000000e+00,0.000000,0.000000,35.567000,0.000000,0.159000,0.044000,...,5338.454000,0.500000,155.898000,5.310000,1.900000,21.400000,21.222000,1.300000,69.870000,0.60600
50%,1.118000e+03,11.000000,15.714000,2.200000e+01,0.000000,0.143000,305.832000,1.651500,3.105000,5.370000,...,14048.881000,2.000000,238.339000,7.110000,6.400000,31.400000,55.182000,2.500000,75.400000,0.75400
75%,1.222900e+04,172.000000,178.429000,2.600000e+02,3.000000,3.143000,2166.081500,18.871750,20.867000,38.368000,...,31400.840000,16.000000,318.991000,10.390000,19.600000,40.900000,83.741000,4.200000,79.380000,0.84700
max,3.552352e+07,322780.000000,297801.000000,1.042398e+06,10491.000000,7456.714000,43974.093000,4944.376000,882.924000,1237.551000,...,116935.600000,77.600000,724.417000,23.360000,44.000000,78.100000,98.999000,13.800000,86.750000,0.95300

In [4]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

#### Listing the columns to get an idea of what data is available from the repository

In [3]:
df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 48380 entries, 0 to 48379
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         48099 non-null  object
 1   continent                        47818 non-null  object
 2   location                         48380 non-null  object
 3   date                             48380 non-null  object
 4   total_cases                      47765 non-null  float64
 5   new_cases                        47548 non-null  float64
 6   new_cases_smoothed               46766 non-null  float64
 7   total_deaths                     47765 non-null  float64
 8   new_deaths                       47548 non-null  float64
 9   new_deaths_smoothed              46766 non-null  float64
 10  total_cases_per_million          47484 non-null  float64
 11  new_cases_per_million            47484 non-null  float64
 12  new_cases_smoothed_per_million   46701 non-null  float64
 13  total_deaths_per_million         47484 non-null  float64
 14  new_deaths_per_million           47484 non-null  float64
 15  new_deaths_smoothed_per_million  46701 non-null  float64
 16  new_tests                        17362 non-null  float64
 17  total_tests                      17780 non-null  float64
 18  total_tests_per_thousand         17780 non-null  float64
 19  new_tests_per_thousand           17362 non-null  float64
 20  new_tests_smoothed               19595 non-null  float64
 21  new_tests_smoothed_per_thousand  19595 non-null  float64
 22  tests_per_case                   18042 non-null  float64
 23  positive_rate                    18481 non-null  float64
 24  tests_units                      20435 non-null  object
 25  stringency_index                 40224 non-null  float64
 26  population                       48099 non-null  float64
 27  population_density               45893 non-null  float64
 28  median_age                       43122 non-null  float64
 29  aged_65_older                    42479 non-null  float64
 30  aged_70_older                    42898 non-null  float64
 31  gdp_per_capita                   42561 non-null  float64
 32  extreme_poverty                  28397 non-null  float64
 33  cardiovasc_death_rate            43130 non-null  float64
 34  diabetes_prevalence              44655 non-null  float64
 35  female_smokers                   33756 non-null  float64
 36  male_smokers                     33327 non-null  float64
 37  handwashing_facilities           20227 non-null  float64
 38  hospital_beds_per_thousand       38942 non-null  float64
 39  life_expectancy                  47490 non-null  float64
 40  human_development_index          41609 non-null  float64
dtypes: float64(36), object(5)
memory usage: 15.1+ MB

#### Checking to see which caribbean countries aree currently covered by the OWID website

In [24]:
carribean_countries = ["Anguila","Antigua and Barbuda","Aruba","Bahamas","Barbados","Bonaire","British Virgin Islands","Cayman Islands","Cuba","Curacao","Dominica","Dominican Republic","Grenada","Guadeloupe","Haiti","Jamaica","Martinique","Montserrat","Puerto Rico","Saba","Saint Barthélemy","Saint Kitts and Nevis","Saint Lucia","Saint Martin","Saint Vincent and the Grenadines","Sint Eustatius","Sint Maarten","Trinidad and Tobago","Turks and Caicos Islands","United States Virgin Islands"]


df_carib = df[df['location'].isin(carribean_countries)]
df_carib['location'].unique()

array([&#39;Aruba&#39;, &#39;Antigua and Barbuda&#39;, &#39;Bahamas&#39;, &#39;Barbados&#39;, &#39;Cuba&#39;,
       &#39;Curacao&#39;, &#39;Cayman Islands&#39;, &#39;Dominica&#39;, &#39;Dominican Republic&#39;,
       &#39;Grenada&#39;, &#39;Haiti&#39;, &#39;Jamaica&#39;, &#39;Saint Kitts and Nevis&#39;,
       &#39;Saint Lucia&#39;, &#39;Montserrat&#39;, &#39;Puerto Rico&#39;,
       &#39;Turks and Caicos Islands&#39;, &#39;Trinidad and Tobago&#39;,
       &#39;Saint Vincent and the Grenadines&#39;, &#39;British Virgin Islands&#39;,
       &#39;United States Virgin Islands&#39;], dtype=object)

#### Rudimentary analysis will be performed next to get an idea of what we're looking at
### NOTE: NO CLEANING HAS BEEN DONE AS YET